*{
    margin: 0;
    padding: 0;
}

.main-box{
    display: flex;
    flex-direction: column;
    width:350px ;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 1px 1px rgb(213, 210, 210);
    padding: 20px;
    border-radius: 5px;
}

#textarea{
    width: 340px;
    height: 150px;
    resize: none;
    outline: none;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
}

#btn{
    height: 50px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(106, 233, 106, 0.752);
    /* background-color: rgb(154, 154, 238); */
}